Repository luisintosh/frontend-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

feat: add bootstrap styles and widgets
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
Due: prettier --write, tslint --fix

feat: search gifs using giphy api
  src/app/app.component.html
  src/app/shared/interfaces/giphy-search-result.ts
  src/app/shared/services/giphy.service.spec.ts
  src/app/shared/services/giphy.service.ts
  src/app/shared/shared.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

test: add giphyservice testing
  src/app/app.component.spec.ts
  src/app/shared/services/giphy.service.spec.ts
Due: prettier --write, tslint --fix

feat: handle not found routes in router
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/shared/components/page-not-found/page-not-found.component.html
  src/app/shared/components/page-not-found/page-not-found.component.sass
  src/app/shared/components/page-not-found/page-not-found.component.spec.ts
  src/app/shared/components/page-not-found/page-not-found.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

feat: add global navbar in to the header
  src/app/app.component.html
  src/assets/images/giphy_logo.png
Due: prettier --write

feat: search component and added to routes
  src/app/app-routing.module.ts
  src/app/search-engine/search-bar/search-bar.component.html
  src/app/search-engine/search-bar/search-bar.component.sass
  src/app/search-engine/search-bar/search-bar.component.spec.ts
  src/app/search-engine/search-bar/search-bar.component.ts
  src/app/search-engine/search-engine-routing.module.ts
  src/app/search-engine/search-engine.component.html
  src/app/search-engine/search-engine.component.sass
  src/app/search-engine/search-engine.component.spec.ts
  src/app/search-engine/search-engine.component.ts
  src/app/search-engine/search-engine.module.ts
Due: prettier --write, tslint --fix, stylelint --fix

test: add search-bar testing
  src/app/search-engine/search-bar/search-bar.component.spec.ts
Due: prettier --write, tslint --fix

feat: add gallery component with animations
  angular.json
  src/app/search-engine/gallery/gallery.component.html
  src/app/search-engine/gallery/gallery.component.sass
  src/app/search-engine/gallery/gallery.component.spec.ts
  src/app/search-engine/gallery/gallery.component.ts
  src/app/search-engine/gallery/interfaces/gallery-item.ts
  src/assets/css/animate.min.css
Due: prettier --write, tslint --fix, stylelint --fix

test: add gallery testing
  src/app/search-engine/gallery/gallery.component.spec.ts
Due: prettier --write, tslint --fix

feat: search and show results in a gallery 3x3
  src/app/app.module.ts
  src/app/search-engine/search-engine.component.html
  src/app/search-engine/search-engine.component.spec.ts
  src/app/search-engine/search-engine.component.ts
  src/app/search-engine/search-engine.module.ts
Due: prettier --write, tslint --fix

feat: add search results pagination
  src/app/search-engine/search-engine.component.html
  src/app/search-engine/search-engine.component.ts
  src/app/search-engine/search-engine.module.ts
Due: prettier --write, tslint --fix

test: add e2e tests
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md,scss,html}
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.sass
